html,
body {
    height: 100%;
    width : 100%;
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size  : 14px;
}

.flex {
    display: flex;
}

.container {
    margin   : 0 auto;
    max-width: 1260px;
    padding  : 0 2%;
    width    : 100%;
}

.container-main {
    background-color: var(--background);
    overflow        : hidden;
    position        : relative;
    width           : 100%;
}

@media screen and (min-width: 1024px) {
    .container-main {
        height  : 650px;
        overflow: hidden;
    }
}

@media screen and (max-width: 800px) {
    .container-main {
        height  : 800px;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .container-main {
        min-height: 100%;
    }
}

a {
    text-decoration: none;
}

.btn-default {
    align-items    : center;
    display        : flex;
    font-weight    : 500;
    justify-content: center;
    line-height    : 24px;
    text-align     : center;
    transition     : .3s all ease-in-out;
}

.btn-default:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 15px;
}

.btn-white {
    background-color: var(--white);
    color           : var(--not-quite-black);
}

.btn-black {
    background-color: var(--not-quite-black);
    color           : var(--white);
}

.btn-main {
    border-radius: 28px;
    font-family  : var(--font-primary);
    font-size    : 1.25rem;
    gap          : 10px;
    line-height  : 24px;
    padding      : 16px 32px;
}

.btn-blue {
    background-color: var(--brand);
    color           : var(--white);
    font-weight     : 500;
    transition      : .3s all ease-in-out;
}

.btn-blue:hover {
    background-color: var(--blue);
}