html,
body {
    height: 100%;
    width : 100%;
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size  : 14px;
}

.flex {
    display: flex;
}

.container {
    margin   : 0 auto;
    max-width: 1260px;
    padding  : 0 2%;
    width    : 100%;
}

.container-main {
    background-color: var(--background);
    height          : 650px;
    overflow        : hidden;
    position        : relative;
    width           : 100%;
}

a {
    text-decoration: none;
}

.btn-default {
    align-items: center;
    display    : flex;
    font-weight: 500;
    line-height: 24px;
    transition : .3s all ease-in-out;
}

.btn-default:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 15px;
}

.btn-white {
    background-color: var(--white);
}