@import "../fonts/fontface.css";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root {
    --background         : #404eed;
    --brand              : #5865f2;
    --brand-gradient     : linear-gradient(90deg, #8ea1e1, #7289da);
    --greyple            : #99aab5;
    --dark-not-black     : #2c2f33;
    --focus-border       : #00b0f4;
    --status-green       : #43b581;
    --text-link          : #00b0f4;
    --off-white          : #f6f6f6;
    --white              : #fff;
    --not-quite-black    : #23272a;
    --not-quite-black-rgb: 35, 39, 42;
    --black              : #000;
    --ekko-red           : #de2761;
    --page-max-width     : 1260px;
    --page-max-width-med : 1024px;
    --num-grid-columns   : 4;
    --page-gutter        : 24px;
    --section-spacing    : 56px;
    --font-primary       : "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline      : "Black Han Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-code          : Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}