.container-principal {
    align-items    : center;
    justify-content: center;
    height         : 100%;
    width          : 100%;
}

@media screen and (max-width: 1000px) {
    .container-principal {
        align-items    : start;
        justify-content: left;
    }
}

.content-principal {
    margin    : 0 auto;
    width     : 780px;
    text-align: center;
    z-index   : 99999;
}

@media screen and (max-width: 780px) {
    .content-principal {
        margin    : 50px 0;
        padding   : 10px;
        text-align: left;
        width     : 550px;
    }
}

.content-text {
    color: var(--white);
}

.content-text h1 {
    font-family   : var(--font-headline);
    font-size     : 3.5rem;
    text-transform: uppercase;
    margin        : auto;
    width         : 400px;
}

@media screen and (min-width: 1024px) {
    .content-text h1 {
        line-height: 50px;
    }
}

@media screen and (max-width: 800px) {
    .content-text h1 {
        margin: 0;
        width : 350px;
    }
}

@media screen and (max-width: 600px) {
    .content-text h1 {
        font-size: 1.5rem;
        width    : 250px;
    }
}

.content-text p {
    font-size  : 1.125rem;
    line-height: 32px;
    margin     : 40px 0 24px;
}

.content-btns {
    align-items    : center;
    gap            : 20px;
    flex-wrap      : wrap;
    justify-content: center;
}

@media screen and (max-width: 780px) {
    .content-btns {
        align-items    : start;
        justify-content: left;
    }
}

.container-bg {
    height  : 100%;
    left    : 0;
    position: absolute;
    bottom  : 0;
    width   : 100%;
}

.container-bg img {
    bottom    : 0;
    position  : absolute;
    object-fit: cover;
    top       : auto;
}

@media screen and (min-width: 1024px) {
    #bg-01 {
        height: 100%;
    }

    #bg-02 {
        left: -250px;
    }

    #bg-03 {
        bottom: 0;
        right : -250px;
    }
}

@media screen and (max-width: 800px) {
    #bg-02 {
        display: none;
    }

    #bg-03 {
        right: -150px;
    }
}

@media screen and (max-width: 600px) {
    #bg-02 {
        display: block;
        right  : 40px;
    }

    #bg-03 {
        display: none;
    }
}