.header-container {
    align-items    : center;
    height         : 80px;
    justify-content: space-between;
}

.logo {
    height: 34px;
    flex  : 0 0 124px;
}

.logo img {
    height    : 100%;
    object-fit: contain;
}

#desktop-nav {
    display: none;
}

@media screen and (min-width: 1024px) {
    #desktop-nav {
        display: block;
        flex   : 1;
    }
}

.desktop-menu {
    align-items    : center;
    gap            : 30px;
    justify-content: center;
}

.desktop-menu a {
    color      : var(--white);
    display    : inline-block;
    font-weight: 600;
    line-height: 22px;
    padding    : 10px;
    text-align : center;
    transition : all 0.15s ease 0s;
}

.desktop-menu a:hover {
    text-decoration: underline;
}

.header-rigth {
    align-items: center;
    gap        : 10px;
}

.mobile-menu_icon {
    background     : url("../../images/menu-mobile.png") no-repeat center;
    background-size: cover;
    cursor         : pointer;
    display        : block;
    height         : 40px;
    transition     : .3s all ease-in-out;
    width          : 40px;
}

/* .mobile-menu_icon:hover .mobile-menu {
    display: block;
} */

.mobile-menu {
    background-color         : var(--white);
    border-top-left-radius   : 8px;
    border-bottom-left-radius: 8px;
    display                  : none;
    height                   : 100%;
    overflow                 : hidden;
    padding                  : 24px 24px 120px 24px;
    position                 : absolute;
    right                    : 0;
    top                      : 0px;
    width                    : 330px;
}

.mobile-menu_header {
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 25px;
}

.mobile-close_btn {
    height : 40px;
    padding: 8px;
    width  : 40px;
}

.mobile-close_btn a {
    display: inline-block;
}

.mobile-close_btn:hover .mobile-menu {
    display: none;
}

.menu-mobile_list {
    border-top : 1px solid #ebedef;
    padding-top: 16px;
}

.menu-mobile_list li {
    width: 100%;
}

.menu-mobile_list a {
    border-radius: 8px;
    color        : var(--not-quite-black);
    display      : inline-block;
    line-height  : 1.15;
    padding      : 12px 16px;
    transition   : .3s all ease-in-out;
    width        : 100%;
}

.menu-mobile_list a.active {
    background-color: var(--off-white);
    color           : var(--text-link);
}

.menu-mobile_list a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1024px) {
    .mobile-menu_icon {
        display: none;
    }
}

.btn-login {
    border-radius: 40px;
    color        : var(--not-quite-black);
    font-size    : 0.875rem;
    padding      : 7px 16px;
}